
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;500;800&family=Open+Sans:ital,wght@0,800;1,700&family=Play&family=Rokkitt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;500;800&family=Open+Sans:ital,wght@0,800;1,700&family=Play&family=Rokkitt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;500;800&family=Open+Sans:ital,wght@0,800;1,700&family=Play&display=swap');

h2{
    color: darkred;
}
body{
    background: linear-gradient(#e7d2d2,#95a5a6);
}
#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 4rem;
    background: #fff;
    box-shadow: 2px 2px 11px 2px black;
    z-index: 111;
    height: 10px;
}



/* mainBtn */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Open Sans', sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

body>header{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
/*Add main Profile photo Animation*/

.pf_main{
    position: relative;
    left: 0px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.pf_box{
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    overflow: hidden;
}
.pf_box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(325deg,#00ccff,#d400d4);
    transition: 0.5s;
    animation: pf_animate 4s linear infinite ;
}
.pf_box:hover::before{
    inset: -20px 0px;
}
@keyframes pf_animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.pf_box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}
.pf_content {
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}
.pf_content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}
.pf_box:hover .pf_content img{
    opacity: 0.5;
}

/*First profile photo*/
main>section>div{
    /*border: 1px solid red;*/
    color: blue;
    position: absolute;
    top: 140px;
    left: 450px;
}
/*Hello and name text*/
#t_hello{
    font-size: 47px;
    color: crimson;
    transition: 2s;
}
#t_name{
    font-size: 31px;
    box-shadow: 1px 5px 5px 0;
    transition: 2s;
}
#t_hello:hover{
    color: darkviolet;
    font-size: 55px;
    transition: 2s;
    box-shadow: 1px 2px 3px 2px darkorchid;
}
#t_name:hover{
    color: indigo;
    font-size: 36px;
    transition: 2s;
}
/* border animation*/

/*Head Text Animation*/

.developer_skill{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 100vw;
    background: #343F4F;
    position: relative;
    left: 0px;
    top: 10px;

}
.word_wrapper{
    display: flex;
}
.word_wrapper .interaction_word{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Play', sans-serif;
    text-shadow: 0 0 20px #ff005b;
}
.word_wrapper .developer_text{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.developer_text li{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
.developer_text li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.developer_text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}

/*Interduce text*/
/*body>main>section>nav>ul{
    !*  border: 2px solid red;*!
    width: 410px;
    height: 115px;
    padding-top: 31px;
    margin-left: 50px;
    box-shadow: 10px 8px 10px gold;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    !* display: flex;*!
    justify-content: center;
    align-items: center;
}
body>main>section>nav>ul:before{
    content: '';
    background-image: conic-gradient(#05dde7 20deg,
    transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }

}
body>main>section>nav>ul:after{
    content: "Animation";
    width: 190px;
    height: 190px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
body>main>section>nav>ul:hover{
    border: 2px solid green;
}*/



/*pic1*/
main>section>img{
    margin-left: 50px;
}
/*2 bar*/


main>section>section>h2{
    margin-left: 60px;
    font-size: 27px;
}
/*under*/
body>main>section>section>h5{
    margin-left: 20px;
}
/*skil ul*/
/*main>section>section>ul>li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    margin-left: 30px;
}
main>section>section>ul>li>a{
    font-size: 18px;
    color: green;
    text-decoration: none;
    transition: 0.3s all;
}

!*main>section>section>ul{
    margin-left: 250px;
}*!
main>section>section:nth-child(2)>ul{
    border: 2px solid red;
}
@media all and (max-width: 425px) {
    main > section > img {
        width: 0%;
    }

    body > header > nav > ul > li > a {
        font-size: 10px;
    }

    body > header > nav > ul > li > dfn {
        font-size: 10px;
    }
    main>section>div>h1:nth-child(1){
        font-size: 20px;
        position: relative;
        top: 0;
        left: 0;
    }
    main>section>div>h1:nth-child(2){
        font-size: 15px;
    }
    body>main>section>nav>ul{
        width: 310px;
        height: 115px;
        padding-top: 31px;
        margin-left: 50px;
        box-shadow: 5px 4px 4px gold;

    }
    main>section>section>ul>li>a{
        font-size: 10px;
    }
    main>section>section>ul>li>dfn{
        font-size: 10px;
    }
    main>section>section>img{
        width: 50px;
        height: 60px;
    }
    @media all and (min-width: 425px) and (max-width: 768px){
        main>section>img{
            width: 270px;
            height: 310px;
        }
        main>section>div>h1:nth-child(1){
            font-size: 28px;
            position: relative;
            top: 0;
            left: 0;
            right: 100px;
        }
        main>section>div>h1:nth-child(2) {
            font-size: 20px;
        }
        main>section>section>img{
            width: 75px;
            height: 85px;
        }
        @media all and (min-width: 768px) and (max-width: 1024px){
            main>section>img{
                width: 310px;
                height: 350px;
            }
            main>section>section>img{
                width: 50px;
                height: 55px;
            }
        }
    }
}*/

.skillDiv{
    background-color: blueviolet;
    position: relative;
    left: 0;
    top: 0;
}


.logo span img{
    border-radius: 50%;
    border: 10px solid purple;
    padding: 10px;
    width: 150px;
}

.logoTwo img{
    border-radius: 50%;
    border: 10px solid purple;
    padding: 10px;
}

.skillDiv > h3{}

/*start skill*/
/*text skill*/
.txt_skill{
    position:relative;
    top: 20px;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-family: 'Rokkitt', serif;
    background: linear-gradient(to right,#ff0303,#ffeb07,lime,#ff00eb);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);

}
/*skill bar*/
::selection{
    color: #fff;
    background: #6665ee;
}
.skill-bars{
    position: relative;
    top: 20px;
    left: 300px;
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.skill-bars .bar-01{
    margin: 20px 0;
}
.skill-bars .bar-01:first-child{
    margin-top: 0px;
}
.skill-bars .bar-01 .s_info{
    margin-bottom: 5px;
}
.skill-bars .bar-01 .s_info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}
.skill-bars .bar-01 .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
    0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.bar-01 .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar-01 .progress-line.html span{
    width: 90%;
}
.bar-01 .progress-line.css span{
    width: 70%;
}
.bar-01 .progress-line.jquery span{
    width: 65%;
}
.bar-01 .progress-line.python span{
    width: 60%;
}
.bar-01 .progress-line.mysql span{
    width: 85%;
}
.bar-01 .progress-line.java span{
    width: 80%;
}
.bar-01 .progress-line.hibernate span{
    width: 65%;
}
.bar-01 .progress-line.react span{
    width: 75%;
}
.progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "70%";
}
.progress-line.jquery span::after{
    content: "65%";
}
.progress-line.python span::after{
    content: "60%";
}
.progress-line.mysql span::after{
    content: "85%";
}
.progress-line.java span::after{
    content: "80%";
}
.progress-line.hibernate span::after{
    content: "65%";
}
.progress-line.react span::after{
    content: "75%";
}


/*social media*/
#social{
    width: 300px;
    height: 212px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    right: 243px;
    bottom: 6px;
}
#social>div{
    height: 40px;
    border: 1px solid gold;
    position: relative;
    background: #05dde7;
    box-shadow: 2px 3px 4px 2px;
    left: 0;
    transition: 2s;
}
#social>div>h3{
    margin: 10px;
    display: inline-block;
}
#social>div>i{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    color: darkblue;
    transition: all 2s;
}
#social>div:hover{
    background-color: gold;
    left: 243px;
    cursor: pointer;
    transition: all 2s;
}
/* frame*/
.box{
    position: relative;
    left: 90px;
    width: 550px;
    height: 300px;
    border:4px solid transparent;
    border-image: linear-gradient(-45deg,#ff0,#f0f,#f00,#00f,#0f0);
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.me{
    position: relative;
    left: 200px;
}
main>section>section>div>h3 {
    position: relative;
    left: 180px;
}
main>section>section>div>h5{
    position: relative;
    left: 20px;
}
/* animation border*/
a{
    position: relative;
    padding: 15px 30px;
    color:black;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
a svg,a svg rect{
    position: absolute;
    top: 20px;
    left: 4px;
    width: 1330px;
    height: 220px;
    fill: transparent;
}
a svg rect{
    stroke-width: 5;
    stroke: blue;
    stroke-dasharray:200 ;
    animation: animates 2s linear infinite;

}
@keyframes animates {
    0% {
        stroke-dashoffset: 400;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
/*  about*/

.about{
    width: 400%;
    height: 100%;
    animation-name:slideme ;
    animation-duration: 5s;
    display: flex;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.about>div{
    width: 100%;
}
.about>div:nth-child(1){
    background-size: cover;
    background-position: center;
}
.about>div:nth-child(2){
    background-size: cover;
    background-position: center;
}
.about>div:nth-child(3){
    background-size: cover;
    background-position: center;
}
.about>div:nth-child(4){
    background-size: cover;
    background-position: center;
}
@keyframes slideme {
    0%,15%{
        transform: translateX(0);
    }
    25%,40%{
        transform: translateX(-25%);
    }
    50%,70%{
        transform: translateX(-50%);
    }

    80%,100%{
        transform: translateX(-75%);
    }
}
/* indoor*/
.indoor{
    width: 400%;
    height: 100%;
    animation-name:slidem ;
    animation-duration: 5s;
    display: flex;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.indoor>div{
    width: 100%;
}
.indoor>div:nth-child(1){
    background-size: cover;
    background-position: center;
}
.indoor>div:nth-child(2){
    background-size: cover;
    background-position: center;
}
.indoor>div:nth-child(3){
    background-size: cover;
    background-position: center;
}
.indoor>div:nth-child(4){
    background-size: cover;
    background-position: center;
}
@keyframes slidem {
    0%,15%{
        transform: translateX(0);
    }
    25%,40%{
        transform: translateX(-25%);
    }
    50%,70%{
        transform: translateX(-50%);
    }

    80%,100%{
        transform: translateX(-75%);
    }
}

